DATABASE_URL=YOUR_DATABASE_URL_HERE
PORT=3000
BETTER_AUTH_SECRET=change-me-to-a-random-secret
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_PASSWORD_HASH_SALT="6"
BETTER_AUTH_SESSION_EXPIRES_IN=604800
BETTER_AUTH_COOKIE_CACHE=300
CLIENT_URL=http://localhost:3001
